body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}


.main-container {
    background-color:  #e2c3ce9d;
    padding: 30px;
    position: relative;
    top: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.main-container .container h2{
    color: chocolate;
    font-size: 30px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-container .container h3{
    color: rgb(201, 56, 37);
    font-size: 25px;
    font-weight: 900;
    font-family:  sans-serif;
}
.input-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-bottom: 20px;
}

.input-form .form-group {
    display: flex;
    flex-direction: column;
}

.input-form .form-group label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
  
}

.input-form .form-control {
    padding: 12px;
    border: 2px solid #05080a;
    border-radius: 6px;
    transition: border-color 0.3s ease;
    font-size: 16px;
}

.input-form .form-control:focus {
    background: #bfe0e4;
    outline: none;
}

.btn-primary {
    background: linear-gradient(135deg, #008080, #80ced6);
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.btn-primary:hover {
    background: #d86744;
}

.table {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 12px;
    border: 2px solid #03070a;
    text-align: left;
}

.table th {
    background-color: #c374ca;
    font-weight: bold;
    font-size: 15px;
}

.table tbody tr:nth-child(even) {
    background-color: #c7adad;
}
.table tbody tr:nth-child(odd) {
    background-color: #c7adad;
}
.table tbody tr:hover {
    background-color: #a8c5cc;
}
.total-expense {
    background-color: #80b6e5;
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.disabled-dropdown {
    color: #2d3c4b;
    background-color: #eceff1;
    border: 2px solid #2d3c4b;
    pointer-events: none;
}

.navbar {
    background: linear-gradient(135deg, #008080, #80ced6);
    padding: 5px 10px;
    display: flex;
    position: relative;
    top: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #ffffff;
    width: 800px;
    margin: 0 auto;
}
.navbar h2{
    margin: 5px;
    
}
